<% set_meta_tags title: "Login", description:"Welcome back to Instagram_clone. Sign in to check out what your friends, family & interests have been capturing & sharing around the world." %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session,local: true) do |f| %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control" %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
      
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "Sign up!", signup_path %></p>
  </div>
</div>