<% set_meta_tags title: @user.username, site: 'profile', description: @user.introduction %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
        <% if current_user?(@user) %>
          <%= link_to "Edit Profile", edit_user_path(@user), class:"btn btn-sm edit_btn" %>
        <% end %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <section class="user_date">
      <span><%= @user.introduction %></span>
      <span><%= text_url_to_link(h(@user.website)).html_safe %></span>
    </section>
  </aside>
  <aside class="col-md-8">
    <%= render "shared/follow_form" if logged_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <div class="modal_imgs">
        <% @posts.each do |post| %>
          <% if post.image.attached? %>
            <div class="modal_img">
              <!-- Button trigger modal -->
                <button type="button" class="modal_btn" data-toggle="modal" data-target="#modal-<%= post.id %>">
                  <span><%= image_tag display_image(post, resize:"232x232^", crop:"232x232+0+0") %></span>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modal-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title" id="exampleModalLabel">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p><%= image_tag display_image(post) %></p>
                        <p><%= post.content %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </aside>
</div>




