<% set_meta_tags title: @user.username, site: 'post' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
  <aside class="col-md-8">
    <section class="post_info">
      <%= image_tag display_image(@post) if @post.image.attached? %>
      <p><%= @post.content %></p>
    </section>
    <section class="comment_info">
      <% if @comments.any? %>
        <ul>
          <%= render @comments %>
        </ul>
      <% end %>
    </section>
    <section class="like_btn">
      <%= render "likes/like" %>
      <a href="<%= liking_post_like_path(@post) %>">
        Liked by <strong><%= @post.liked_users.count %></strong> users.
      </a>
    </section>
    <section class="comment_form">
      <%= render "shared/comment_form" %>
    </section>
  </aside>
</div>




